#Name
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25pt;
  color: black;
  font-style: oblique;
  
}
#First
{
    font-family: Segoe UI;
}
#Second
{
   font-family:Calibri;
   font-style: italic;
   font-size: 12pt;

}
img
{
   float: right;
   width: 1000px;
   margin-right: 10%;   
   border: 10px double black;
}

h1
{
   text-align: center;
}

#Arial
{
     font-family: Arial;
     font-size: 12pt;
     text-align: center;
}


body
{
   background-color:snow ;
}
h1
{ 
  color: crimson;
}

.green
{
   color:green;
}