#Name
{
    text-align: center;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
  font-size: 18pt;
  
  
}
#First
{
    font-family: Segoe UI;
}
#Second
{
   font-family:Calibri;
   font-style: italic;

}
img
{
   float: right;
   width: 50%;
   margin-right: 20%;
   border: 10px double black;
}

h1
{
   text-align: center;
}

#Arial
{
     font-family: Arial;
     font-size: 12pt;
     text-align: center;
}


body
{
   background-color:snow ;
}
h1
{
  color: crimson;
}

