@font-face{
font-family : 'Open Sans';
font-style : normal;
font-weight : normal;
font-display : swap;
src : local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 14px
}
.menu-line{  
height: 80px;
background-color:#242323 ;
}
.page{
margin:auto;
width: 980px;
}

#fakeButton{
border: solid 1px white;
padding: 10px;
}
.page ul li:first-child{
  margin-left: 25px;
}
.page ul li{
  margin: 30px 50px 0px 0px;
display:inline-block ;
}
.page ul li a{
font-family: Helvetica, sans-serif;
text-decoration: none;
color:#F5F5F5;
}
.page ul li a:hover{
  color: #A0A09F;
}
#fakeButton:hover{
color: black;
transition: 250ms;
background-color:white ;
}
.header
{
text-align: center;
margin-bottom: 90px;
}
.header h1{
  margin-top:80px; 
  letter-spacing: 0.1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  margin-bottom: 15px;
}
.header h5{
font-weight: normal;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
letter-spacing: 0.05rem;
}

