table{
    border-collapse: collapse;
    /* border-spacing: 50px; */
}
table, td,th
{
    border: 1px solid black;
}

td{
    padding: 0px;
    width: 50px;
height: 25px;
}

.aqua{
    text-align: center;
    vertical-align:middle;
    background-color:aqua ;
}

.pink{
    background-color:pink ;
}

.green
{
   background-color:green;
}

.center{
text-align: center;    

}

.right{
    text-align: right;
}