html{
    background-color: lightgray;
}
a{
    display: block;
     width: 100px;
    height: 40px;
    margin-top: 25px;
margin-left:47% ;
padding: 20px 0px 0px 60px;
    text-decoration: none;
    color: white;
    border: 10px black;
    background-color: black;
    border-radius: 3px;
}

a:hover{
    transition: 0.5s;
    background-color:lightblue;
    color:black;
}

.left{
     background-color:white ;
    height: 20px;
    
    width: 83%;
    float: left;
    border: 1px dashed black;
    border-bottom: none;
}
.right{
    margin: 0px 0px 0px 84%;
}

.main{
font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    background: white;
 padding-left: 5%;
    border: 1px dashed black;
}
.main input
{
    width;
}
.main .Multifield{
    width: 25px;
    border-spacing: 10px;
}