html{
background-color: lightgray;
 
}

h1,p,button{
margin-left: 20px;
}
#last{
display: block;
width: 100px;
height: 40px;
margin-top: 25px;
margin-left:47% ;
padding: 20px 0px 0px 60px;
text-decoration: none;
color: white;
border: 10px black;
background-color: black;
border-radius: 3px;
}

#last:hover{
transition: 0.5s;
background-color:lightblue;
color:black;
}

.left{
background-color:white ;
height: 20px;    
width: 83%;
float: left;
border: 1px dashed black;
border-bottom: none;
}
.right{
margin-left:84%;
}

.main{
font-family: Arial, Helvetica, sans-serif;
background: white;
border: 1px dashed black;
}

.main input
{
width: 175px;
}
.main .Multifield{
width: 25px;
border-spacing: 10px;
}
.main form img{
height: 15px;
}

.main button{
height: 35px;
width: 80px;
font-size: 12pt;
margin: 25px;
}
