*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
.first{
    width: 370px;
    background-color: #2d3b36;
    height: 370px;
    margin: auto;
}
.first input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color: white;
}
.first .content{
    position: absolute;
    width: 330px;
    height: 340px;
    background-color:#161d1b;
    margin:15px 0px 0px 20px;
    border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.first .content form .input{

    width: 255px;
    margin: 15px 25px 0px 25px;
    height: 45px;
font-size: 14pt;
background-color:#737776 ;
color: white;
padding-left:15px ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-radius: 5px;
}

.first .content button{
width: 115px;
height: 35px;
background-color: #538380;
color: white;
border:solid black 1px;
border-radius: 5px;
float: right;
margin:5px  30px 0px 0px;
}

.second{
background-image: url(../img/visa.png);
border-radius: 5px;
height: 250px;
width: 500px;
margin: auto;
padding: 25px;
color: white;
}

.second img{
    width: 70px;
    float: right;
}
.second form label{
    color:rgba(255, 255, 255,0.9);
    font-weight: bold;
}
.second form input{
    border: none;
   box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 2px;
    background-color: #d7d7d7;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    color: rgba(77, 77, 77, 0.788);
   font-weight: bold;
}
.second input::-webkit-input-placeholder{
      color: rgba(77, 77, 77, 0.788);
}
.option{
    margin-top: 50px;
}
.number{
    margin-top:40px;
}
#card{
 
    width: 490px;    
}
#Year{
    width: 112px; margin: 0px 25px 0px 25px;
}

#CVC{
    width: 112px;
}
.expiration{
    float: left;
}

#Next{
    display: block;
     width: 100px;
    height: 40px;
    margin-top: 25px;
margin-left:47% ;
padding: 20px 0px 0px 60px;
    text-decoration: none;
    color: white;
    border: 10px black;
    background-color: black;
    border-radius: 3px;
}

#Next:hover{
    transition: 0.5s;
    background-color:lightblue;
    color:black;
}

